*{
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: rgb(164, 226, 247);
}

#logo {
    height: 100px;
    width: 100px;
}

a:hover{
    background-color: white;
    border-radius: 10px;
}

#footer img {
    width: 30px; 
}

/* Index estilos*/


#button {
    border-radius: 10px;
    width: 100px;
}

.deco{
    width: 90%;
    height: 90%;
    padding: 5px;
    border-radius: 25px;
}